* {
	margin: 0;
	padding:0;

}



#mainWrap {
	width: 100%;

}


.navbar {
	
	height: 15vh;
}

.navbar ul {
	text-decoration: none;
	
}

.navbar li a {
	color: #2f4f4f;
	font-size: 1.5rem;
	margin-right: 7rem;
	padding:0;
}

.navbar li a:hover {
	color: #A52A2A;
}

.navbar .navbar-brand {
	text-decoration: none;
	color: #2f4f4f;
	margin-left: 2rem;
	font-size: 3rem;
	font-family: 'Supermercado One', cursive;

}



#maincon {
	width: 100%;
	background:#A52A2A;
	height: auto;


}

.jumbotron {
	padding-top: 15px;
	background: url("img/bistro2.jpeg") 0 -90px;
   background-repeat: no-repeat;
   background-size: cover;
   height: 70vh;
	margin: 10px auto;
	text-align: center;
	color:#fff;
    
}

.jumbotron h1{
	font-size: 4.5rem;
}

#cardcount {
	margin: 0 auto;
	background: #A52A2A;
}

.card img:hover{
    opacity: .8;

}

.card {
	margin: 50px auto;

}




#subcon {
	width: 100%;
	margin-top: 0;
	background:#292929;
	height: auto;
	padding-bottom: 30px;
	}



 .left h4{
	color:#d3d3d3;
	font-size: 3em;
	font-family: 'Supermercado One', cursive;
}

 .right h4{
	color:#d3d3d3;
	font-size: 3em;
	font-family: 'Supermercado One', cursive;
}

.left {
	
	color: #d3d3d3;
	margin-top: 60px;
	padding: 10px 10px;
	font-size: 1rem;
	 
}


.right {
	
	margin-top: 60px;
}

footer {
	clear: both;
	background:#C8C8C8;
	height: 10vh;
	text-align: center;
	padding-top: 30px;
}

form input[type = "text"], form textarea {

  width: 80%;
  padding: 10px;
  background:#ccc;
  color: #fff;
  margin-bottom: 10px;
  border: 0;
}

form .btn {
  color: #fff;
  background: #A52A2A;
}

form .btn:hover{
	background: #ccc;
	color: #A52A2A;
}

a.btn {
  color: #fff;
  background: #A52A2A;
  border: none;
}

a.btn:hover{
background: #ccc;
	color: #A52A2A;


}


/*Menu Page */

#pagewrap {
 
 background: #A52A2A;
 height: auto;
 width: 100%;

}

#maincontent{
	background:#fff;
	color:#ccc;
	height: auto;
    padding-top: 50px;
	text-align: center;
	
}

/*menu style */
.menu-body {
  max-width: 680px;
  margin: 0 auto;
  display: block;
  color: rgb(92, 92, 92);
}

.menu-section {
  margin-bottom: 80px;
}

.menu-section-title {
  font-family: georgia;
  font-size: 50px;
  display: block;
  font-weight:normal;
  margin: 20px 0; 
  text-align: Center;
}

.menu-item {
  margin: 35px 0;
  font-size: 18px;
}

.menu-item-name{
  font-family: helvetica;
  font-weight: bold;
  border-bottom: 2px dotted rgb(213, 213, 213);
}

.menu-item-description {
  font-style: italic;
  font-size: .9em;
  line-height: 1.5em;
}

.menu-item-price{
  float: right;
  font-weight: bold;
  font-family: arial;
  margin-top: -22px;
}

/* Locations page */

#jumbotron2{
	padding-top: 15px;
	background: url("img/burger.jpeg") 0 -90px;
   background-repeat: no-repeat;
   background-size: cover;
   height: 70vh;
	margin: 10px auto;
	text-align: center;
	color:#fff;
    
}

.jumbotron h1{
	font-size: 4.5rem;
	margin-top: 90px;
}


#leftside{
	
    background:url('img/people.jpeg');
    background-size: cover;
    height: 90vh;
    width: 10%;
}

#rightside{
	color: #ccc;
	background: #292929;
	height: 90vh;
	width: 50%;

}

#rightside ul {
	list-style: none;
	margin-top: 30px;
}

#rightside li{
	font-size: 1.5rem;
}
